In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import numpy as np

In [2]:
csv_file = os.path.join("Resources", "candidates.csv")

candidate_df = pd.read_csv(csv_file)

In [3]:
candidate_df.head()

  committee_id                                 name committee_type
0    C00703975                  BIDEN FOR PRESIDENT              P
1    C00580100  DONALD J. TRUMP FOR PRESIDENT, INC.              P

In [4]:
pg_user = 'postgres'
pg_password = 'Rouzbeh237*tx'
db_name = 'POTUS_db'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
engine.table_names()

['States', 'Polls', 'Candidates', 'Candidate_Spending']

In [6]:
candidate_df.to_sql(name="Candidates", con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from "Candidates"', con=engine).head()

  committee_id                                 name committee_type
0    C00703975                  BIDEN FOR PRESIDENT              P
1    C00580100  DONALD J. TRUMP FOR PRESIDENT, INC.              P