In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from pprint import pprint
import csv
import glob

In [2]:
# READ CSV
state_table = os.path.join("Resources", "state_table.csv")
state_df = pd.read_csv(state_table)
state_df = state_df[["name", "abbreviation"]]
state_df = state_df.rename(columns = {"name": "State"})
state_df = state_df.rename(columns = {"abbreviation": "Abbreviation"})
state_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [3]:
#Read csv file and convert it to dataframe
population_table = os.path.join("Resources", "ST_Population_2019.csv")
population_df = pd.read_csv(population_table)
population_df = population_df[["NAME", "POPESTIMATE2019"]]
population_df.head()

            NAME  POPESTIMATE2019
0  United States        328239523
1        Alabama          4903185
2         Alaska           731545
3        Arizona          7278717
4       Arkansas          3017804

In [4]:
# Align states in two dataframes
state_df["Population"] = population_df["POPESTIMATE2019"]
state_df.head()

        State Abbreviation  Population
0     Alabama           AL   328239523
1      Alaska           AK     4903185
2     Arizona           AZ      731545
3    Arkansas           AR     7278717
4  California           CA     3017804

In [5]:
# Write DataFrame to CSV
state_df.to_csv('state_population.csv', index=False)

## Connect to local database